@charset "utf-8";


/* 

section{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    width: 80%;
    height: 100%;

}

.like .inner{
    display: flex;
}
.like .inner>div{
    display: flex;

}

.like_left{
    width: 100%;
    height: 100%;
}
.like_right{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

ul.likeimg{
    width: 100%;
    height: 100%;
}
ul.likeimg li{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul.likeimg li img{
    width: 70%;
    height: 70%;
}

.like_right ul{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
ul.likemenu li{
    width: 80%;
    height: 80%;

    display: flex;
    align-items: end;
    justify-content: center;
    
    border-bottom: 3px solid var(--point2);

    padding-bottom: 24px;
    opacity: 50%;
}

ul.likemenu li:hover{
    opacity: 100%;
}
ul.likemenu li.on{
    opacity: 100%;
}

ul.likemenu li h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--point1);
}

.swiper-button-prev , .swiper-button-next{
    color: var(--point4);
    opacity: 80%;
    width: 30px;
    height: 30px;


    margin-left: 20px;
    margin-right: 20px;
}


ul.likeimg li.sel{
    
} */

.swiper-button-prev,
.swiper-button-next {
    color: var(--point2);
    opacity: 80%;
    width: 30px;
    height: 30px;


    /* margin-left: 30px;*/

    /* margin: 30px; */

}
.swiper-horizontal{.swiper-button-prev{
    margin-left: 2%;
}}

.swiper-button-next {
    margin-right: 2%;

}
.swiper-horizontal
.swiper-horizontal>div {
    /* margin-left: 30px;
    margin-right: 30px; */


    background-color: aquamarine;
}

.wrap {
    width: 100%;
    height: 100vh;
}
                                                           
.section_slide {
    width: 100%;
    height: 100%;
    position: relative;
}

section {
    width: 100%;
    height: 100%;
}

.inner {
    width: 80%;
    height: 100%;
}

.like {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like .inner {
    display: flex;
}

.like .like_left {
    width: 80%;
    height: 100%;
}

.like_left .likeimg {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.like_left .likeimg li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;

    transition: 0.7s;

}

.like_left .likeimg li img {
    width: 60%;
    height: 60%;
}

.like_left .likeimg li.on {
    opacity: 100%;
}

.like .like_right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;





}


.like .like_right .likemenu {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.like .like_right ul li {
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--point4);
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 30px;
    color: var(--point3);
    opacity: 30%;
    cursor: pointer;

}

.like .like_right ul li:hover {
    opacity: 60%;
}

.like .like_right ul li.on {
    opacity: 100%;
}






/* ---------menu----------------- */


.menubox{
    display: flex;
    width: 180px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

}

.menubox div{
    width: 40px;
    height: 40px;
    transition: .5s;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.menubox .menu_like{
    background-image: url(../img/raramenulikebefore.svg);
}
.menubox .menu_good{
    background-image: url(../img/raramenugoodbefore.svg);
}
.menubox .menu_tmi{
    background-image: url(../img/raramenutmibefore.svg);
}


.menubox .menu_like:hover,.menubox .menu_like.active{
    background-image: url(../img/raramenulikeafter.svg);
}
.menubox .menu_good:hover,.menubox .menu_good.active{
    background-image: url(../img/raramenugoodafter.svg);
}
.menubox .menu_tmi:hover,.menubox .menu_tmi.active{
    background-image: url(../img/raramenutmiafter.svg);
}

