@charset "utf-8";



section.good {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
padding-top: 3%; 


}

.good .inner {
    width: 80%;
    height: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.good .inner>img{
    /* background-color: aqua; */

}

.good .inner .good_msgbox_screen {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;


}

.good .inner .good_msgbox_screen>div {
    width: 40%;
    height: 25%;



    position: relative;


}

.good .inner .good_msgbox_screen .good_msgbox_1 {
    position: absolute;
    top: 3%;
    left: 6%;



}

.good .inner .good_msgbox_screen .good_msgbox_2 {
    width: 34%;

    position: absolute;
    top: 27%;
    right: 0;

    display: flex;
    justify-content: right;
}

.good .inner .good_msgbox_screen .good_msgbox_3 {
    position: absolute;
    bottom: 9%;
    left: 6%;

    display: flex;
    align-items: center;

}


.good .inner .good_msgbox_screen .good_msgbox {
    width: 96%;
    height: 80%;

    border-radius: 4px;

    background-color: var(--point4);
    display: flex;
    align-items: center;
    justify-content: center;

}

.good_msgbox_1 img {
    position: absolute;
    right: 1%;
    bottom: 25%;
}

.good_msgbox_2 img {
    position: absolute;
    left: 0;
    top: 40%;
}

.good_msgbox_3 img {
    position: absolute;
    right: 2%;
    top: 6%;
}



.good_msgbox_textbox {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    gap: 8px;

}

.good_msgbox_textbox>div {
    width: 100%;
}

.good_msgbox_textbox .good_msgbox_title {
    font-size: 1.6rem;
    font-weight: 600;
}

.good_msgbox_textbox .good_msgbox_text {
    color: var(--black);
    opacity: 70%;
    line-height: 150%;
}

/* fb */


/* .fb{
    width: 60px;
    height: 60px;
    background-color: var(--point1);
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    /* margin: 40px; 

    position: fixed;
    bottom: 50px;
    right: 50px;

}

.fb i{
    color: var(--colorwhite);
    transform: scale(1.4);
} */